@import 'variables';

body, html {
  height: 100%;
  font-family: 'Julius Sans One', sans-serif;
  background: url(../img/By_Lee_Roylland_bw_small.jpg) no-repeat fixed;
  background-size: cover;
  color: #f7dc26;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 9;
}
a {
  text-decoration: none;
  color: #f7db26;
}
.container {
  background-color: rgba(52, 152, 219, 0.5);
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
  height: 100%;
  overflow: hidden;
}

.intro-block {
  font-size: 1.2em;
  border: 2px #f7db26 solid;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
  text-align: center;
  margin: 10px auto;
}
.intro-block:hover {
  background-color: #f7db26;
  color: rgba(52, 152, 219, 1);
}

h1 {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  color: rgba( 255, 255, 255, .9);
  font-weight: lighter;
}

#portfolio-main {
  width: 100%;
}

.card-container {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.portfolio-item {
  height: $frame-inner-height / 2;
  width: $frame-inner-width / 2;
  margin: 50px auto 0 auto;
}

.portfolio-item.frame {
  background-image: url(../img/iphone-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: calc( 50% - 135px );
  height: $frame-height / 2;
  width: $frame-width / 2;
}

.portfolio-item.android-app {
  background-image: url('../img/android-app.png');
  background-size: cover;
}

.portfolio-item.starry-site {
  background-image: url('../img/starry-site.png');
  background-size: cover;
}

.portfolio-item.mwp {
  background-image: url('../img/metrowest.png');
  background-size: cover;
}

/*SET FOR MEDIUM*/
@media (max-width: 40em) {
  h1 {
    font-size: 2.5em;
  }
  #main {
    width: 40%;
    margin: 0 auto;
  }
  .intro-block {
    font-size: 1.5em;
  }
}
/*SET FOR S*/
@media (max-width: 25em) {
  h1 {
    font-size: 2.5em;
  }
  #main {
    width: 80%;
    margin: 0 auto;
  }
  .intro-block {
    font-size: 1.5em;
  }
}
/*SET FOR L*/
@media (min-width: 40em) {
  h1 {
    font-size: 3em;
  }
  #main {
    width: 35%;
    margin: 0 auto;
  }
  .intro-block {
    font-size: 2em;
  }

}
/*SET FOR XL*/
@media (min-width: 80em) {
  h1 {
    font-size: 3.5em;
  }
  #main {
    width: 30%;
    margin: 0 auto;
  }
  .intro-block {
    font-size: 2.5em;
  }
}
